<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Bean definition for Bean1 -->
    <bean id="gamePlugin" class="dk.sdu.mmmi.cbse.common.services.GamePluginServiceImpl"/>
    <bean id="entityProcessor" class="dk.sdu.mmmi.cbse.common.services.EntityProcessingServiceImpl"/>
    <!-- ... Add more bean definitions as needed ... -->


<!-- ... Add more bean definitions as needed ... -->

</beans>